# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f257ea48ea801e6beedb6eeb5724e66cf9e9a76deb60b1d2d7558e9f4c36dc1aa752ade1106743ee5a3fd65e995f7461d184b4a12558dc7b4b40e859b3467d54

test:
  secret_key_base: 3acf5ffac349b15a71873e6427a6361f373865cc5b81c62e7edbbd7a962eb08bcd3e5d5e70be424987b0586293c744fe8cc68579abdf8ee8d92ca82312b65015

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
